<html>

<head>
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>

<body>
    <h1>
    </h1>
    <p id="username" style="display:none">
        <%=username%>
    </p>
    <p id="msg-list" style="display:none">
        <%=msgs%>
    </p>
    <div class="container" id="chat">
        <div class="row chat-window col-md-8" id="chat_window_1">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading top-bar">
                        <div class="col-md-8">
                            <h3 class="panel-title" style="font-size: 20;font-style: ">FSE CHAT ROOM</h3>
                        </div>
                        <div class="col-md-12" style="text-align: right;font-size: 20">
                            <a href="/user/logout"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1" style="align-items: right"></span></a>
                        </div>
                    </div>
                    <div class="panel-body msg_container_base">
                        <div id="messages">
                            <%msgs.forEach(function(m){
                                if(m.username == username) {
                            %>
                            <div class="row msg_container base_sent">
                                <div class="col-md-6">
                                    <div class="messages msg_sent">
                                        <p>
                                            <%=m.msg%>
                                        </p>
                                        <time>
                                            <%=m.username%> |
                                            <%=m.timestamp%></time>
                                    </div>
                                </div>
                            </div>
                            <%} else {%>
                            <div class="row msg_container base_receive">
                                <div class="col-md-6">
                                    <div class="messages msg_receive">
                                        <p>
                                            <%=m.msg%>
                                        </p>
                                        <time>
                                            <%=m.username%> |
                                            <%=m.timestamp%></time>
                                    </div>
                                </div>
                            </div>
                            <%}})%>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <form id="form" class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm scrollToBottom" id="btn-chat">Send</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>